[Unit]
Description=Lora Service (User)
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/pi/.local/bin/lora -c /home/pi/nam_project/LoraFog/configs/config_gateway.yml
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=lora


[Install]
WantedBy=default.target

